<html>
<link rel="stylesheet" href="/css/swiper.css">
		<link rel="stylesheet" href="/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,900" rel="stylesheet"> 

		<header class="header">
			<div class="header__content header__content--fluid-width">
				<div class="header__logo-title"><img style="margin-top: 10px;width:60px" src="https://res.cloudinary.com/doo4xi4rh/image/upload/v1596330699/seuvn_tysh5p.png"></div>
				<div class="header__logo-title" style="margin-top: 5px;margin-left: 15px"><span>SEU.VN</span></div>
				<nav class="header__menu">                                                                   
					<ul>
						<li><a class="selected header-link" href="#intro">HOME</a></li>
						<li class="menu-item-has-children"><a href="#features" class="header-link">TÍNH NĂNG</a>
							<ul class="sub-menu">
								<li><a href="#hiw" class="header-link">HOW IT WORKS</a></li>
								<li><a href="#clients" class="header-link">OUR CLIENTS</a></li>
								<li><a href="#faq" class="header-link">FAQ</a></li>
								<li><a href="#testimonials" class="header-link">TESTIMONIALS</a></li>
								<li><a href="#support" class="header-link">SUPPORT</a></li>
							</ul>
						</li>
						<li><a href="#pricing" class="header-link">BẢNG GIÁ</a></li>
						<li><a href="#support" class="header-link">LIÊN HỆ</a></li>
						<li class="header__btn header__btn--login"><a href="/dang-nhap">Đăng Nhập</a></li>
						<li class="header__btn header__btn--signup"><a href="/dang-ki">Đăng kí sử dụng</a></li>			
					</ul>
				</nav> 
			</div>		
		</header>

		<!-- Section -- intro -->
		<section class="section section--intro" id="intro">
			<div class="section__content section__content--fluid-width section__content--intro" >
				<div class="intro">
					<div class="intro__content">
						<div class="intro__title"><span>Gia Tăng </span>Doanh Số <span>⤴</span></div>
						<div class="intro__subtitle">Công cụ hỗ trợ đắc lực cho nhà bán hàng đang kinh doanh trên các sàn thương mại điện tử.Giúp tối ưu hoá vận hành,đồng bộ tất cả cửa hàng trong 1 giao diện duy nhất. </div>
						<div class="intro__description" style="color:#adbfff">Trải nghiệm sử dụng miễn phí <span> 7 </span> ngày với toàn bộ tính năng hữu ích trên SEU.VN</div>
						<div class="intro__buttons intro__buttons--left">
							<a href="index.html" class="btn btn--blue-bg btn--play modal-toggle" data-openpopup="animation">GIỚI THIỆU</a>
							<a href="/dang-ki" class="btn btn--red-bg">ĐĂNG KÍ MIỄN PHÍ</a>
						</div>
					</div>	
				</div>
			</div>
			<div class="intro-animation">
				<img src="/img/intro-animation.png" alt="" title=""/>
			</div>
		</section>

		<!-- Section -->
		<section class="section" id="clients" style="margin-top: 100px">
			<div class="section__content section__content--fluid-width section__content--clients">				
				<div class="grid grid--5col">

					<div class="grid__item">
						<div class="grid__client-logo"><a href="#"><img src="https://res.cloudinary.com/doo4xi4rh/image/upload/v1596352417/lazada_iwt280.png" alt="" title=""/></a></div>
					</div>
					<div class="grid__item">
						<div class="grid__client-logo"><a href="#"><img src="https://res.cloudinary.com/dtll0jawl/image/upload/v1601083584/tải_xuống_ezrkiq.png" alt="" title=""/></a></div>
					</div>
					<div class="grid__item">
						<div class="grid__client-logo"><a href="#"><img src="https://res.cloudinary.com/doo4xi4rh/image/upload/v1596620226/shopee_digvyt.png" alt="" title=""/></a></div>
					</div>
					<div class="grid__item">
						<div class="grid__client-logo"><a href="#"><img src="https://res.cloudinary.com/doo4xi4rh/image/upload/v1596620226/shopee_digvyt.png" alt="" title=""/></a></div>
					</div>
					<div class="grid__item">
						<div class="grid__client-logo"><a href="#"><img src="https://res.cloudinary.com/doo4xi4rh/image/upload/v1596620226/shopee_digvyt.png" alt="" title=""/></a></div>
					</div>
				</div>

			</div>

		</section>

		<!-- Section -- features -->
		<section class="section section--features" id="features">

			<div class="section__content section__content--fluid-width section__content--padding">
				<h2 class="section__title section__title--centered">Tính năng nổi bật</h2>
				<div class="section__description section__description--centered">
					Phần mềm quản lý bán hàng SEU.vn giúp nhà bán hàng quản lý được nhiều cửa hàng đang bán trên các sàn thương mại điện tử TIKI,SHOPEE,LAZADA,SENDO. Dễ dàng theo dõi nắm bắt tình hình bán hàng và thông tin sản phẩm của tất cả cửa hàng chỉ từ 1 giao diện duy nhất.
				</div>
				<div class="grid grid--4col grid--features">

					<div class="grid__item">
						<div class="grid__icon"><img src="/img/responsive-64.png" alt="" title=""/></div>
						<h3 class="grid__title">Dễ dàng Sao chép sản phẩm</h3>
						<p class="grid__text">Quý khách sẽ dễ dàng Sao chép sản phẩm từ cửa hàng này qua cửa hàng khác,từ sàn này qua sàn khác.Chỉ cần nhập link sản phẩm là hệ thống sẽ tự động lấy thông tin và sao chép.</p>
					</div>
					
					<div class="grid__item">
						<div class="grid__icon"><img src="/img/desktop-chart-64.png" alt="" title=""/></div>
						<h3 class="grid__title">Up sản phẩm dễ dàng</h3>
						<p class="grid__text">Dễ dàng up tạo sản phẩm cùng lúc lên nhiều cửa hàng đang bán mà không cần phải vào trang quản trị của sàn để điền thủ công từng cửa hàng một.</p>
					</div>
					
					<div class="grid__item">
						<div class="grid__icon"><img src="/img/browser-64.png" alt="" title=""/></div>
						<h3 class="grid__title">Đồng bộ tồn kho</h3>
						<p class="grid__text">Dễ dàng chỉnh sửa cập nhật thông tin tồn kho sản phẩm của nhiều cửa hàng đang bán chỉ bằng 1 thao tác.</p>
					</div>


				</div>
				
				<div class="grid grid--4col grid--features grid--noborder">

					
					<div class="grid__item">
						<div class="grid__icon"><img src="/img/users-64.png" alt="" title=""/></div>
						<h3 class="grid__title">Theo dõi đơn hàng</h3>
						<p class="grid__text">Dễ dàng theo dõi đơn hàng của tất cả các cửa hàng chỉ từ 1 giao diện duy nhất.Cập nhật và báo cáo tình hình bán hàng theo ngày,tuần và tháng.</p>
					</div>
					
					<div class="grid__item">
						<div class="grid__icon"><img src="/img/security-64.png" alt="" title=""/></div>
						<h3 class="grid__title">Theo dõi đối thủ</span></h3>
						<p class="grid__text">Theo dõi tình hình bán hàng 30 ngày gần nhất của bất kì sản phẩm nào đang bán trên Shopee,Sendo bao gồm : doanh thu,giá bán mỗi ngày... </p>
					</div>
					
					<div class="grid__item">
						<div class="grid__icon"><img src="/img/target-64.png" alt="" title=""/></div>
						<h3 class="grid__title">Dễ dàng chỉnh sửa giá</span></h3>
						<p class="grid__text">Dễ dàng chỉnh sửa giá sản phẩm đang bán cho phù hợp chỉ bằng 1 click duy nhất.</p>
					</div>

				</div>
			</div>

			
		</section>	




		<!-- Section -- pricing -->
		<section class="section" id="pricing">

			<div class="section__content section__content--fix-width section__content--padding">
				<h2 class="section__title section__title--centered">Bảng phí</h2>
				<br>
				

				<div class="pricing">
					<div class="pricing__switcher switcher">
						<div class="switcher__buttons">
							<div class="switcher__button switcher__button--enabled">Monthly</div> 
							<div class="switcher__button">Yearly</div>
							<div class="switcher__border"></div>
						</div>

					</div>

					
					<div class="pricing__plan">
						<h3 class="pricing__title">MIỄN PHÍ</h3>   
						<div class="pricing__values">
							<div class="pricing__value pricing__value--show">0 <span>đ</span> <b>/ ngày</b></div>
							<div class="pricing__value pricing__value--hide pricing__value--hidden"><span>$</span>0 <b>/ yearly</b></div>
						</div>	
						<ul class="pricing__list">
							<li><b>Hướng dẫn hỗ trợ 24/7</b></li>
							<li><b>6</b> tài khoản liên kết sàn</li>
							<li><b>3</b> link sản phẩm đối thủ</li>
							<li><b>Unlimited</b> Eils Accounts</li>	
							<li>Set And Manage Permissions</li>
							<li class="disabled">API &amp; extension support</li>	
							<li class="disabled">Developer support</li>
							<li class="disabled">A / B Testing</li>	
							<li><b>Dùng thử 7 ngày</b></li>		
						</ul> 
						<a class="pricing__signup" href="">Sign up</a>
					</div>
					<div class="pricing__plan">
						<h3 class="pricing__title">STARTUP</h3>       
						<div class="pricing__values">
							<div class="pricing__value pricing__value--show"><span>$</span>29 <b>/ month</b></div>
							<div class="pricing__value pricing__value--hide pricing__value--hidden"><span>$</span>320 <b>/ yearly</b></div>
						</div>
						<ul class="pricing__list">
							<li><b>8</b> tài khoản liên kết.</li>
							<li><b>100</b> Team Members</li>
							<li><b>Unlimited</b> Emails Accounts</li>	
							<li>Set And Manage Permissions</li>
							<li>API &amp; extension support</li>	
							<li class="disabled">Developer support</li>
							<li class="disabled">A / B Testing</li>			
						</ul> 
						<a class="pricing__signup" href="">Sign up</a> 
					</div>
					<div class="pricing__plan pricing__plan--popular">
						<div class="pricing__badge-bg"></div>
						<div class="pricing__badge-text">POPULAR</div>
						<h3 class="pricing__title">PRO</h3>       
						<div class="pricing__values">
							<div class="pricing__value pricing__value--show"><span>$</span>49 <b>/ month</b></div>
							<div class="pricing__value pricing__value--hide pricing__value--hidden"><span>$</span>529 <b>/ yearly</b></div>
						</div>
						<ul class="pricing__list">
							<li><b>50</b> User Account</li>
							<li><b>500</b> Team Members</li>
							<li><b>Unlimited</b> Emails Accounts</li>	
							<li>Set And Manage Permis sions</li>
							<li>API &amp; extension support</li>	
							<li>Developer support</li>
							<li class="disabled">A / B Testing</li>		
						</ul> 
						<a class="pricing__signup" href="">Sign up</a>
					</div>
					<div class="pricing__plan">
						<h3 class="pricing__title">ULTRA</h3>       
						<div class="pricing__values">
							<div class="pricing__value pricing__value--show"><span>$</span>99 <b>/ month</b></div>
							<div class="pricing__value pricing__value--hide pricing__value--hidden"><span>$</span>900 <b>/ yearly</b></div>
						</div>
						<ul class="pricing__list">
							<li><b>Unlimited</b> User Account</li>
							<li><b>Unlimited</b> Team Members</li>
							<li><b>Unlimited</b> Emails Accounts</li>	
							<li>Set And Manage Permissions</li>
							<li>API &amp; extension support</li>	
							<li>Developer support</li>
							<li>A / B Testing</li>

						</ul> 
						<a class="pricing__signup" href="">Sign up</a>
					</div> 	
				</div>
				
				<div class="clear"></div>
			</div>

		</section>

		<!-- Section -- testimonials -->
		<section class="section section--testimonials" id="testimonials">

			<div class="section__content section__content--fluid-width section__content--padding">
				<h2 class="section__title section__title--centered">Success stories</h2>
				<div class="testimonials">
					<div class="testimonials__content swiper-wrapper">
						<div class="testimonials__slide swiper-slide">
							<div class="testimonials__thumb" data-swiper-parallax="-50%"><img src="/img/avatar-1.jpg" alt="" title=""/></div>
							<div class="testimonials__frame">
								<div class="testimonials__source">Lason Duvan <a href="#">New York Business Center</a></div>
								<div class="testimonials__text"><p>"Business is all about the customer: what the customer wants and what they get. "</p></div>
							</div>

						</div>
						<div class="testimonials__slide swiper-slide">
							<div class="testimonials__thumb" data-swiper-parallax="-50%"><img src="/img/avatar-2.jpg" alt="" title=""/></div>
							<div class="testimonials__frame">
								<div class="testimonials__source">Jada Sacks <a href="#">Paris Tehnics</a></div>
								<div class="testimonials__text"><p>" I've internalized it to the point of understanding that the success of my actions and/or endeavors"</p></div>
							</div>

						</div>
						<div class="testimonials__slide swiper-slide">
							<div class="testimonials__thumb" data-swiper-parallax="-50%"><img src="/img/avatar-3.jpg" alt="" title=""/></div>
							<div class="testimonials__frame">
								<div class="testimonials__source">Lason Duvan <a href="#">Music Software</a></div>
								<div class="testimonials__text"><p>"The American Dream is that any man or woman, despite of his or her background, can change their circumstances"</p></div>
							</div>

						</div>
						<div class="testimonials__slide swiper-slide">
							<div class="testimonials__thumb" data-swiper-parallax="-50%"><img src="/img/avatar-4.jpg" alt="" title=""/></div>
							<div class="testimonials__frame">
								<div class="testimonials__source">Duran Jackson <a href="#">New York Business Center</a></div>
								<div class="testimonials__text"><p>"Generally, every customer wants a product or service that solves their problem, worth their money"</p></div>
							</div>

						</div>
						<div class="testimonials__slide swiper-slide">
							<div class="testimonials__thumb" data-swiper-parallax="-50%"><img src="/img/avatar-5.jpg" alt="" title=""/></div>
							<div class="testimonials__frame">
								<div class="testimonials__source">Maria Allesi <a href="#">Italy Solutions</a></div>
								<div class="testimonials__text"><p>"No one can make you successful; the will to success comes from within.' I've made this my motto."</p></div>
							</div>
						</div>
						<div class="testimonials__slide swiper-slide">
							<div class="testimonials__thumb" data-swiper-parallax="-50%"><img src="/img/avatar-6.jpg" alt="" title=""/></div>
							<div class="testimonials__frame">
								<div class="testimonials__source">Jenifer Patrison<a href="#">App Dating</a></div>
								<div class="testimonials__text"><p>"Can change their circumstances and rise as high as they are willing to work"</p></div>
							</div>
						</div>  
					</div>

					<div class="testimonials__pagination swiper-pagination"></div>
					<div class="testimonials__button--next swiper-button-next"></div>
					<div class="testimonials__button--prev swiper-button-prev"></div>
				</div>
				<div class="clear"></div>
			</div>

		</section>	

		<!-- Section -->
		<section class="section" id="faq">
			<div class="section__content section__content--fluid-width section__content--padding">

				<div class="grid grid--5col grid--faq">

					<div class="grid__item grid__item--x2">
						<h3 class="grid__title">Frequently asked questions</h3>
						<p class="grid__text">Have a presale question about our products and features? Or looking for a refund? We would love to hear what you concern is. </p>
						<ul class="grid__list">
							<li>Simple and Smart HTML code</li> 
							<li>Works reintegrated in any part of the layout</li> 
							<li>Reuse the elements from one design to another</li> 
						</ul>
						
					</div>
					<div class="grid__item grid__item--x3">
						<div class="faq">
							<div class="faq__item">
								<input class="faq__input" id="faq1" type="radio" name="faq" checked>
								<label class="faq__label" for="faq1">Installing the app on all devices <span></span></label>
								<div class="faq__content">
									<p>Guide to setup and configuration. You can present below a guide and a description of how your system configuration works and add some animated screens. We believe we have created the most efficient SaaS landing page for your users. Landing page with features that will convince you to use it for your SaaS business. </p>
								</div>
							</div>
							<div class="faq__item">
								<input class="faq__input" id="faq2" type="radio" name="faq">
								<label class="faq__label" for="faq2">How to implement and manage API key <span></span></label>
								<div class="faq__content">
									<p>We believe we have created the most efficient SaaS landing page for your users. Landing page with features that will convince you to use it for your SaaS business. Generally, every customer wants a product or service that solves their problem, worth their money, and is delivered with amazing customer service </p>
								</div>
							</div>
							<div class="faq__item">
								<input class="faq__input" id="faq3" type="radio" name="faq">
								<label class="faq__label" for="faq3">How to set up and optimize your account <span></span></label>
								<div class="faq__content">
									<p>Landing page with features that will convince you to use it for your SaaS business. Generally, every customer wants a product or service that solves their problem, worth their money, and is delivered with amazing customer serviceWe believe we have created the most efficient SaaS landing page for your users.  </p>
								</div>
							</div>
							<div class="faq__item">
								<input class="faq__input" id="faq4" type="radio" name="faq">
								<label class="faq__label" for="faq4">Manage your account access and security settings <span></span></label>
								<div class="faq__content">
									<p>Guide to setup and configuration. You can present below a guide and a description of how your system configuration works and add some animated screens. We believe we have created the most efficient SaaS landing page for your users. Landing page with features that will convince you to use it for your SaaS business. </p>
								</div>
							</div>
							<div class="faq__item">
								<input class="faq__input" id="faq5" type="radio" name="faq">
								<label class="faq__label" for="faq5">API integration basic overview <span></span></label>
								<div class="faq__content">
									<p>We believe we have created the most efficient SaaS landing page for your users. Landing page with features that will convince you to use it for your SaaS business. Generally, every customer wants a product or service that solves their problem, worth their money, and is delivered with amazing customer service </p>
								</div>
							</div>
							<div class="faq__item">
								<input class="faq__input" id="faq6" type="radio" name="faq">
								<label class="faq__label" for="faq6">Deactivating or deleting your account <span></span></label>
								<div class="faq__content">
									<p>Landing page with features that will convince you to use it for your SaaS business. Generally, every customer wants a product or service that solves their problem, worth their money, and is delivered with amazing customer serviceWe believe we have created the most efficient SaaS landing page for your users.  </p>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				


			</div>
		</section>

		<!-- Section -->
		<section class="section" id="support">
			<div class="section__content section__content--fluid-width section__content--padding">	
				<div class="grid grid--2col grid--support">

					<div class="grid__item grid__item--padding">
						<div class="grid__icon"><img src="/img/support-64.png" alt="" title=""/></div>
						<h3 class="grid__title">Help &amp; Support</h3>
						<p class="grid__text">Your issue is our main priority. Our 24/7 support team is here to help you and make sure our product is up to date.</p>
						<a href="#" class="grid__more">support@supportemail.com</a>
					</div>
					<div class="grid__item grid__item--padding">
						<div class="grid__icon"><img src="/img/globe-64.png" alt="" title=""/></div>
						<h3 class="grid__title">Media &amp; Press</h3>
						<p class="grid__text">Online awards and publications. Get our media resources and learn about our company.		
						</p>
						<a href="#" class="grid__more">media@youremail.com</a>
					</div>
					<div class="grid__item grid__item--padding">
						<div class="grid__icon"><img src="/img/wallet-64.png" alt="" title=""/></div>
						<h3 class="grid__title">Sales</h3>
						<p class="grid__text">Have a presale question about our products and features? Or looking for a refund? 
						</p>
						<a href="#" class="grid__more">sales@salesemail.com</a>
					</div>
				</div>
				<div class="clear"></div>
			</div>

		</section>



		<!-- Section -->
		<section class="section section--cta" id="cta">
			<div class="section__content section__content--fluid-width section__content--padding">	
				<div class="grid grid--2col grid--cta">
					<div class="grid__item">
						
						<h3 class="grid__title grid__title--cta">Start <span>growing</span> your bussiness.</h3>
						<p class="grid__text">Your issue is our main priority. Our 24/7 support team is here to help you and make sure our product is up to date. Have a presale question about our products and features? Or looking for a refund? We would love to hear what you concern is. Online awards and publications. </p>
					</div>
					<div class="grid__item grid__item--centering">
						<a href="#" class="grid__more">GET STARTED NOW!</a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<svg class="svg-cta-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
				<defs> <linearGradient id="linear" x1="0%" y1="0%" x2="0%" y2="100%" spreadMethod="pad"> <stop offset="0%" stop-color="#030c2c"/> <stop offset="100%" stop-color="#182964"/> </linearGradient> </defs>
				<path d="M0,80 L10,90 Q21,101 30,90 L100,0 100,100 0,100 Z" fill="url(#linear)"/>
			</svg>
		</section>


		<footer class="footer" id="footer">
			<div class="footer__content footer__content--fluid-width footer__content--svg">

				<div class="grid grid--5col">

					<div class="grid__item grid__item--x2">
						<h3 class="grid__title grid__title--footer-logo">LATERAL</h3>
						<p class="grid__text grid__text--copyright">Copyright &copy; 2018 LATERAL.  <br />All Rights Reserved. Proudly made in EU. </p>
						<ul class="grid__list grid__list--sicons">
							<li><a href="#"><img src="/img/twitter.png" alt="" title=""/></a></li>
							<li><a href="#"><img src="/img/facebook.png" alt="" title=""/></a></li>
							<li><a href="#"><img src="/img/linkedin.png" alt="" title=""/></a></li>
						</ul>
					</div>
					<div class="grid__item">
						<h3 class="grid__title grid__title--footer">Company</h3>
						<ul class="grid__list grid__list--fmenu">
							<li><a href="#">About</a></li>
							<li><a href="#">Carrers</a></li>
							<li><a href="#">Awards</a></li>
							<li><a href="#">Users Program</a></li>
							<li><a href="#">Locations</a></li>
						</ul>
					</div>
					<div class="grid__item">
						<h3 class="grid__title grid__title--footer">Products</h3>
						<ul class="grid__list grid__list--fmenu">

							<li><a href="#">Integrations</a></li>
							<li><a href="#">API</a></li>
							<li><a href="#">Pricing</a></li>
							<li><a href="#">Documentation</a></li>
							<li><a href="#">Release Notes</a></li>
						</ul>
					</div>
					<div class="grid__item">
						<h3 class="grid__title grid__title--footer">Support</h3>
						<ul class="grid__list grid__list--fmenu">
							<li><a href="#">Contact</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Press</a></li>

						</ul>
					</div>
					
				</div>
				
				
			</div>


		</footer>


		<script src="/js/jquery-3.3.1.min.js"></script>
		<script src="/js/jquery.custom.js"></script>
		<script src="/js/swiper.min.js"></script>
		<script src="/js/swiper.custom.js"></script>
		<script src="/js/menu.js"></script>
</html>